<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Library_Labels_Namespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Library_Labels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Library_Labels_Namespace.Properties.Settings>
            <setting name="SpecifyDelimitersAndQualifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecifyFirstColumnName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="DataQualifier" serializeAs="String">
                <value>"</value>
            </setting>
            <setting name="DataRepeatFieldDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="DataFirstColumnName" serializeAs="String">
                <value>CALL #(ITEM)</value>
            </setting>
            <setting name="DataDefaultRFD" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="RemoveSubFieldIndicators" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StackSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StackDots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnStackAmpersands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterFirstRepeatOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterIncludeAllRepeats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpineAlignmentPanelLocation" serializeAs="String">
                <value>13, 10</value>
            </setting>
            <setting name="PocketAlignmentPanelLocation" serializeAs="String">
                <value>228, 10</value>
            </setting>
            <setting name="SpineFont" serializeAs="String">
                <value>Arial, 18pt, style=Bold</value>
            </setting>
            <setting name="PocketFont" serializeAs="String">
                <value>Arial, 12pt, style=Bold</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>Zebra TLP2844</value>
            </setting>
            <setting name="SpineAutoMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpineMargin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PocketAutoMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PocketMargin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpineTextAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="PocketTextAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="orientSpineLandscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="orientPocketLandscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showFontStyles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SierraCleanFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandEscapeChars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FillPocketFromDGV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrapSpineBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordWrapPocketBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SierraAPI_Server" serializeAs="String">
                <value>https://sierra.marmot.org/iii/sierra-api/v5/</value>
            </setting>
            <setting name="SierraAPI_Key" serializeAs="String">
                <value>RPcJh0bvhuFkPPYhJOUuTIPkmTK2</value>
            </setting>
            <setting name="SierraAPI_Secret" serializeAs="String">
                <value>Halloween2019$$</value>
            </setting>
            <setting name="BarcodeQuery" serializeAs="String">
                <value>{
  "target": {"record": { "type": "item"}, "field": {"tag": "b"}},
  "expr": {"op": "equals","operands": ["&lt;barcode&gt;"]}
}</value>
            </setting>
            <setting name="BarcodeRegexPattern" serializeAs="String">
                <value>^\d{13}$</value>
            </setting>
            <setting name="QuickFont1" serializeAs="String">
                <value>Arial, 18pt</value>
            </setting>
            <setting name="QuickFont2" serializeAs="String">
                <value>Arial Narrow, 18pt, style=Bold</value>
            </setting>
            <setting name="QuickFont3" serializeAs="String">
                <value>Arial, 18pt, style=Bold</value>
            </setting>
            <setting name="QuickFont4" serializeAs="String">
                <value>Arial Black, 18pt, style=Bold</value>
            </setting>
            <setting name="QuickFontName1" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="QuickFontName2" serializeAs="String">
                <value>Narrow</value>
            </setting>
            <setting name="QuickFontName3" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="QuickFontName4" serializeAs="String">
                <value>Black</value>
            </setting>
        </Library_Labels_Namespace.Properties.Settings>
        <Library_Labels.Properties.Settings>
            <setting name="SpecifyDelimitersAndQualifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecifyFirstColumnName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="DataQualifier" serializeAs="String">
                <value>"</value>
            </setting>
            <setting name="DataRepeatFieldDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="DataFirstColumnName" serializeAs="String">
                <value>CALL #(ITEM)</value>
            </setting>
            <setting name="DataDefaultRFD" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="RemoveSubFieldIndicators" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StackSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StackDots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnStackAmpersands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterFirstRepeatOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterIncludeAllRepeats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpineAlignmentPanelLocation" serializeAs="String">
                <value>13, 10</value>
            </setting>
            <setting name="PocketAlignmentPanelLocation" serializeAs="String">
                <value>228, 10</value>
            </setting>
            <setting name="SpineFont" serializeAs="String">
                <value>Arial, 18pt, style=Bold</value>
            </setting>
            <setting name="PocketFont" serializeAs="String">
                <value>Arial, 12pt, style=Bold</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>Zebra TLP2844</value>
            </setting>
            <setting name="SpineAutoMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpineMargin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PocketAutoMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PocketMargin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpineTextAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="PocketTextAlignment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="orientSpineLandscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="orientPocketLandscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showFontStyles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SierraCleanFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandEscapeChars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FillPocketFromDGV" serializeAs="String">
                <value>True</value>
            </setting>
        </Library_Labels.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
